form.login{
  margin: 20px auto;
  width: 300px;
  input{
    &[type="text"], &[type=password]{
      display: block;
      padding: 5px;
      margin-bottom: 5px;
      width: 300px;
    }
    &[type="submit"]{
      text-align: center;
      padding: 5px;
      width: 300px;
    }
  }
}
.container {
  &.dashboard {

    .col-md-3 {
      padding-right: 0;
    }
    .col-md-9 {
      padding-left: 0;
    }
  }
}
section#conteudo{
  background-color: #e5ebf2;
  padding: 20px 40px;
  margin-top: 20px;
  table {
    width: 100%;
    border: 1px solid #dae1ea;
    color: #6b8097;
    background-color: #ffffff;
    margin: 0 auto;
    th, td {
      margin: 0;
      vertical-align: center;
      padding: 5px 10px;
      text-align: right;
    }
    th {
      border: 1px solid #dae1ea;
      &:first-child {
        text-align: center;
      }
    }
    tr {
      border-bottom: 1px solid #dae1ea;
      font-weight: bold;
      &:last-child {
        border-bottom: none;
      }
      &:hover{
        background-color: #dae1ea;
      }
    }
    td {

      img {
        &.img-produto {
          width: 100px;
          height: 50px;
        }
        &.icone {
          width: 25px;
          height: 25px;
        }
      }
      &:last-child {

      }
      &:last-child {
        width: 60px;
      }
      &:first-child {
        text-align: center;
      }
    }
  }
  form#adc-produto{
    figure {
      float: left;
      display: inline-block;
      width: 350px;
      height: 225px;
      margin-left: 10px;
      img {
        width: 100%;
        height: 225px;
        border: 1px solid #cccccc;
        padding: 5px;
        background-color: #ffffff;
        float: left;
      }
      figcaption{
        position: absolute;
        float: left;
        width: 350px;
        height: 225px;
        text-align: center;
        line-height: 225px;
        background-color: black;
        opacity: 0.5;
        display: none;
        a{
          color: #ffffff;
        }
      }
      &:hover{
        figcaption {
          display: block;
        }
      }
    }

    fieldset{
      padding: 10px;
      margin-bottom: 5px;
      label{
        display: inline-block;
        width: 99%;
        &.metade-linha {
          width: 374px;
          margin-right: 3px;
        }
      }
      input{
        display: inline-block;
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        font-weight: normal;
        &#titulo{
          float: right;
        }
      }
      textarea{
        width: 100%;
        height: 250px;
        padding: 10px;
        font-weight: normal;
      }
    }
    input{
      &[type="submit"]{
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        width: 400px;
        display: block;
      }
    }
  }
}
section#menu{
  margin-top: 20px;
  ul {
    color: #ffffff;
    background-color: #4f6883;
    /*height: 800px;*/
    a {
      color: #ffffff;
      text-decoration: none;
      li {
        display: block;
        padding: 10px 15px;
        margin-bottom: 5px;
        text-align: left;
        background-color: #4f6883;
        text-transform: uppercase;
        font-size: 15px;
        /*font-weight: bold;*/
        &:hover {
          background-color: #455c74;
        }
      }
      &:hover {
        color: #ffffff;
        text-decoration: none;
      }
      img {
        &.icone-menu {
          height: 15px;
          width: 15px;
          margin-bottom: 3px;
          margin-right: 5px;
        }
      }
    }
  }
}
div.item{
  width: 140px;
  height: 95px;
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 5px;
  img{
    width: 100%;
    height: 100%;
  }
}
.modal {
  &.active {
    display: block;
    background: rgba(0,0,0,.5);
  }
  .galeria {
    display: none;
    background: #fff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 40px;
    position: relative;
    h2 {
      text-align: center;
      margin: 0 0 40px;
      font-weight: 600;
    }
    .aba {
      display: none;
      margin-top: 10px;
      &.active {
        display: block;
      }
      &.adicionar {
        label {
          background: deepskyblue;
          color: #fff;
          padding: 5px;
          cursor: pointer;
        }
        input[type="file"] {
          visibility: hidden;
          height: 0;
          width: 0;
        }
      }
    }
    &.active {
      display: block;
    }
  }
  .botao{
    padding: 5px;
  }
  .fechar-modal {
    position: absolute;
    top: 0;
    right: 0;
    img{
      width: 25px;
      height: 25px;
      padding: 5px;
    }
  }
}