.detalhes-abolute{
    padding: 50px 0;
    background: #f7f8fa;
}

.content-plano {
    text-align: center;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    overflow: hidden;
    min-height: 800px;
}

.content-plano::after{
    content: "";
    background-color: #0397ff;
    width: 100%;
    height: 15px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.title-plano {
    font-size: 20px;
    margin: 0;
    background: #0099ff80;
    padding: 20px;
    text-transform: uppercase;
    color: #fafafa;
}

.content-price {
    padding: 50px 0;
    position: relative;
    margin: 30px 0;
}

.price-plano {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    line-height: 40px;
    width: 100%;
}

.lista-plano {
    font-family: 'calibri' !important;
    text-align: left;
    list-style: none;
    padding: 0 20px;
}

.lista-plano li{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
.lista-plano li::after{
    content: ' ';
    display: block;
    clear: both;
}
.lista-plano li span{
    display: block;
    padding-left: 30px;
}
.lista-plano li i{
    float: left;
    margin-top: 5px;
}
.lista-plano li:last-child{
    margin-bottom: 0;
}
.content-op-pagamento{
    text-align: center;
    width: 300px;
    margin: 0 auto 50px;
}
.content-op-pagamento::after{
    content: ' ';
    display: block;
    clear: both;
}
.content-op-pagamento p, .content-op-pagamento span{
    float: left;
    margin-bottom: 0;
}
.content-op-pagamento span{
    width: 75px;
    margin: 0 20px;
    height: 30px;
    border-radius: 30px;
    background: #09f;
    position: relative;
    cursor: pointer;
}
.content-op-pagamento span::after{
    content: ' ';
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0;
    transition: all .5s;
}
.content-op-pagamento span.mensal::after{
    left: 5px;
}
.content-op-pagamento span.anual::after{
    left: 100%;
    transform: translateX(calc(-100% - 5px));
}

.translate-price{
    display: none;
}

.translate-price.active{
    display: inline-block;
}

fieldset{
    margin: 30px 0 30px 0;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: white;
}

fieldset h3{
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}

input[type="number"], select{
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 100%;
}
.total{
    width: 100%;
}
.total td{
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.12);
}
.title-total{
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.button-comprar{
    display: block;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background: #0397ff;
    border: none;
    padding: 10px 0;
    font-weight: bold;
}
.price-right{
    float: right;
}

.content-opcoes-plano{
    padding: 20px 20px;
    margin-top: 20px;
    background: white;
    position: absolute;
    bottom: 0;
    text-align: left;
}

.banner{
    padding: 0;
    margin: 0;
}

.item-banner{
    margin: 0;
}

.item-banner img{
    max-width: 100%;
}


.content-select{
    padding: 20px 0;
	text-align: right;
	display: none;
}

.text-adm{
	margin-top: 50px;
}
.align-right{
	text-align: right;
	margin-bottom: 30px;
}