  * {
  transition: all .2s;
}
.no-margin {
  margin: 0;
}
.btn {
  background-color: #0397ff;
  font-size: 12pt;
  font-weight: 600;
  color: #fff;
  padding: 13px 45px;
  border-radius: 5px;
  display: inline-block;
}
.btn:hover {
  background: #0089e9;
  color: white;
}
header {
  background: url("../img/background-header.jpg");
}
header div#topo {
  padding-top: 250px;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
}
header div#topo p {
  font-size: 14pt;
  font-weight: 500;
  margin: 0 0 0.3em;
}
header div#topo h2 {
  font-size: 2.8rem;
  margin: 0 0 0.76em;
}
header div#background-orbit {
  margin-top: 60px;
  padding: 250px 0;
  background: url("../img/orbit.png") top;
}
img#logo {
  margin-top: 16px;
  margin-bottom: 20px;
}
#top-bar {
  width: 100%;
  padding: 20px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#top-bar #menu {
  margin-top: 8px;
  width: 100%;
}
#top-bar #menu a {
  float: right;
}
#top-bar #menu ul {
  float: right;
  margin-right: 20px;
  display: inline;
  height: 5%;
  margin-top: 12px;
}
#top-bar #menu ul li {
  display: inline-block;
}
#top-bar #menu ul li a {
  font-weight: 500;
  padding: 5px;
  color: #7f97ad;
}
#top-bar #menu ul li a:hover {
  color: #0397ff;
  text-decoration: none;
}
section {
  padding: 100px 0;
}
section h2 {
  color: #1e3953;
}
section#services {
  text-align: center;
}
section#services h2 {
  font-weight: normal;
  margin: 0 0 0.93em;
  padding-bottom: 0.67em;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #d6dfe8;
}
section#services p {
  color: #7f97ad;
  line-height: 1.8em;
  font-size: 12pt;
  margin-bottom: 60px;
}
section#services div.grid {
  text-align: center;
  padding: 40px 45px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
section#services div.grid:hover {
  background-color: #09f;
  color: white;
}
section#services div.grid:hover .btn {
  background: #fff;
  color: #7f99ae;
}
section#services div.grid:hover .detalhes p {
  color: #ffffff;
}
section#services div.grid img {
  width: 24%;
}
section#services div.grid .detalhes {
  width: 100%;
}
section#services div.grid .detalhes h3 {
  font-weight: 600;
  font-size: 18pt;
}
section#services div.grid .detalhes p {
  color: #7f97ad;
  line-height: 1.8em;
  margin-bottom: 2em;
}
section#dominios {
  background: #f1f1f1;
}
section#dominios div {
  text-align: center;
}
section#dominios div#titulo {
  margin-bottom: 35px;
}
section#dominios div#titulo h2 span {
  font-weight: bold;
}
section#dominios div#titulo p {
  font-size: 12pt;
  color: #7f97ad;
  line-height: 1.8em;
}
section#dominios div#pesquisa form {
  background: #0397ff;
  width: 65%;
  margin: 0 auto 20px;
  border-radius: 40px;
  padding: 10px;
}
section#dominios div#pesquisa form input {
  padding: 12px;
}
section#dominios div#pesquisa form input[type="text"] {
  font-size: 12pt;
  color: white;
  width: 70%;
  border: none;
  background: none;
  margin-left: 20px;
}
section#dominios div#pesquisa form input[type="submit"] {
  font-size: 11pt;
  font-weight: 600;
  color: #7f97ad;
  text-align: center;
  text-transform: uppercase;
  width: 25%;
  background: #fff;
  border: none;
  border-radius: 40px;
}
section#dominios div#precos div {
  display: inline-block;
  margin-left: 30px;
}
section#dominios div#precos div:first-child {
  margin-left: 0;
}
section#dominios div#precos div p {
  margin: 5px 0 0;
  color: #7f97ad;
  line-height: 1.8em;
}
section#planos {
  background: #f7f8fa;
  text-align: center;
}
section#planos h2 {
  font-weight: normal;
  margin: 0 0 0.93em;
  padding-bottom: 0.67em;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #d6dfe8;
}
section#planos h2 span {
  font-weight: bold;
}
section#planos div#tablist {
  background-color: #fff;
  display: inline-block;
  text-align: center;
  margin: 0 auto 45px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px 5px;
}
section#planos div#tablist ul {
  margin: 0;
}
section#planos div#tablist ul li {
  display: inline-block;
}
section#planos div#tablist ul li a {
  display: block;
  color: #0397ff;
  padding: 10px 10px;
  overflow: hidden;
  border-radius: 5px;
  font-size: 13pt;
  font-weight: 500;
}
section#planos div#tablist ul li a:hover {
  color: white;
  background: #0397ff;
  text-decoration: none;
}
section#planos div#tablist ul li a.active {
  color: white;
  background: #0397ff;
  text-decoration: none;
}
section#planos div.plano .grid {
  background-color: #fff;
  padding: 45px 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}
section#planos div.plano .grid span {
  font-size: 12pt;
  font-weight: 500;
  color: #1e3953;
  text-transform: uppercase;
}
section#planos div.plano .grid div {
  width: 40%;
  margin: 20px auto 30px;
}
section#planos div.plano .grid div .circulo {
  background: #0397ff;
  width: 100%;
  height: 12%;
  border-radius: 50%;
  color: white;
}
section#planos div.plano .grid div .circulo p.valor {
  font-size: 20pt;
  font-weight: bold;
  padding-top: 27px;
  line-height: 1.2em;
}
section#planos div.plano .grid ul {
  width: 100%;
  padding-bottom: 10px;
}
section#planos div.plano .grid ul li {
  display: block;
  color: #7f97ad;
  border-bottom: 1px solid #dbe4ea;
  padding: 10px 0;
  font-size: 12pt;
}
section#planos div.plano .grid ul li:last-child {
  border-bottom: none;
}
section#planos div.plano .grid:after {
  content: "";
  background-color: #0397ff;
  width: 100%;
  height: 15px;
  border-radius: 0 0 5px 5px;
  position: absolute;
  left: 0;
  bottom: 0;
}
section#features div.bloco-features {
  padding-top: 40px;
  border-bottom: 1px solid #dae4eb;
}
section#features div.bloco-features:last-child {
  border-bottom: none;
}
section#features div.bloco-features img {
  border-radius: 10px;
  max-width: 100%;
}
section#features div.bloco-features h2 {
  padding-top: 40px;
  font-weight: 600;
}
section#features div.bloco-features p {
  color: #7f97ad;
  line-height: 1.8em;
  font-size: 12pt;
}
section#clientes {
  background: url("../img/testimonials-bg.jpg");
  text-align: center;
}
section#clientes h2 {
  font-weight: normal;
  margin: 0 0 0.93em;
  padding-bottom: 0.67em;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #d6dfe8;
}
section#clientes h2 span {
  font-weight: bold;
}
section#clientes div.grid {
  background-color: white;
}
section#clientes div.grid .client-quote {
  padding: 30px;
  border-bottom: 1px solid #dae2e8;
  text-align: left;
}
section#clientes div.grid .client-quote h3 {
  font-size: 18pt;
  font-weight: 600;
  color: #0397ff;
  margin: 0 0 0.7em;
}
section#clientes div.grid .client-quote p {
  color: #7f97ad;
  line-height: 1.8em;
  font-size: 12pt;
}
section#clientes div.grid .info-client {
  text-align: left;
  padding: 10px 30px 10px 30px;
  margin-bottom: 10px;
}
section#clientes div.grid .info-client img {
  border-radius: 50px;
  display: inline-block;
  float: left;
  overflow: hidden;
}
section#clientes div.grid .info-client .nome {
  display: inline-block;
  padding-top: 5px;
  margin-left: 20px;
}
section#clientes div.grid .info-client .nome h4 {
  font-size: 14pt;
  color: #4c5e6f;
  font-weight: 600;
  margin: 0;
}
section#clientes div.grid .info-client .nome span {
  font-size: 0.8rem;
  color: #7f97ad;
  text-transform: uppercase;
}
section#clientes .btn {
  margin-top: 42px;
}
section#postagens {
  text-align: center;
}
section#postagens div.img-postagem {
  width: 40%;
  /*float: left;*/
  display: inline-block;
  padding-bottom: 50px;
}
section#postagens div.img-postagem img {
  max-width: 100%;
}
section#postagens div.grid {
  text-align: left;
  display: inline-block;
  float: right;
  width: 50%;
  padding: 10px 15px;
}
section#postagens div.grid .postagem-header h3 {
  margin: 0;
  font-size: 14pt;
  font-weight: 600;
  line-height: 1.3em;
}
section#postagens div.grid .postagem-header h3 a {
  color: #1e3953;
}
section#postagens div.grid .postagem-header h3 a:hover {
  color: #0397ff;
  text-decoration: none;
}
section#postagens div.grid .postagem-info ul {
  width: 100%;
  padding-top: 5px;
}
section#postagens div.grid .postagem-info ul li {
  display: inline;
}
section#postagens div.grid .postagem-info ul li img.icone {
  width: 7%;
  height: 2%;
  margin-right: 5px;
}
section#postagens div.grid p {
  padding-top: 5px;
  color: #7f97ad;
  line-height: 1.8em;
  font-size: 11pt;
}
section#footer-contato {
  background: url("../img/cta-bg.jpg");
}
section#footer-contato h2 {
  font-size: 20pt;
  font-weight: 600;
  margin: 0 0 0.55em;
  letter-spacing: -2px;
}
section#footer-contato h3 {
  color: #0397ff;
  margin: 0;
  font-weight: bold;
  font-size: 18pt;
}
section#footer-contato form {
  background: #0397ff;
  width: 100%;
  border-radius: 40px;
  padding: 10px;
}
section#footer-contato form input {
  padding: 5px;
}
section#footer-contato form input[type="text"] {
  font-size: 12pt;
  color: white;
  width: 70%;
  border: none;
  background: none;
  margin-left: 20px;
}
section#footer-contato form input[type="submit"] {
  font-size: 11pt;
  font-weight: 600;
  color: #7f97ad;
  text-align: center;
  text-transform: uppercase;
  width: 25%;
  background: #fff;
  border: none;
  border-radius: 40px;
}
footer {
  background: #eff7ff;
  padding: 100px 0;
}
footer div h3 {
  margin: 0;
  font-size: 20pt;
  color: #0397ff;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  padding-top: 3px;
  position: relative;
  font-weight: bold;
  line-height: 1.1;
}
footer div.grid {
  padding-right: 25px;
}
footer div.grid img {
  margin-bottom: 10px;
}
footer div.grid p {
  color: #7f97ad;
  line-height: 1.8em;
  margin: 0 0 10px;
  font-size: 12pt;
}
footer div.grid ul li {
  margin-top: 5px;
  color: #7f97ad;
  font-size: 12pt;
  line-height: 1.78em;
}
footer div.grid ul li .icone {
  width: 5%;
  height: 2%;
  margin-top: 10px;
  margin-right: 10px;
}
footer div#links {
  width: 98%;
  margin: 0 auto;
}
footer div#links ul li {
  list-style-image: url("../img/icone-marcador.png");
  margin-top: 18px;
  padding-bottom: 5px;
  margin-left: 24px;
}
footer div#links ul li a {
  color: #7f97ad;
  font-size: 12pt;
}
footer div#links ul li a:hover {
  text-decoration: none;
  color: #0397ff;
}
footer div#suport {
  width: 98%;
  margin: 0 auto;
}
footer div#suport ul li {
  margin-top: 18px;
  padding-bottom: 5px;
}
footer div#suport ul li a {
  color: #7f97ad;
  font-size: 12pt;
}
footer div#suport ul li a:hover {
  text-decoration: none;
  color: #0397ff;
}
footer div#twitter p {
  color: #7f97ad;
  line-height: 1.8em;
  margin: 0 0 10px;
  font-size: 12pt;
}
footer div#twitter .profile {
  padding-bottom: 14px;
  margin-bottom: 14px;
  border-bottom: 1px solid #dbe8f6;
}
footer div#twitter .profile .icone {
  width: 7%;
  height: 2%;
  padding-bottom: 3px;
}
footer div#twitter .profile a {
  color: #0397ff;
  line-height: 1.8em;
  font-weight: bold;
  font-size: 12pt;
  font-style: italic;
}
div#copyright {
  background-color: #eff7ff;
  padding: 15px 0;
  border-top: 1px solid #dbe8f6;
}
div#copyright p {
  color: #7f97ad;
  line-height: 1.8em;
  display: inline;
  font-size: 12pt;
}
div#copyright ul {
  width: 50%;
  float: right;
}
div#copyright ul li {
  font-size: 12pt;
  color: #7f97ad;
  line-height: 1.8em;
  display: inline;
  margin-right: 5px;
}
div#copyright ul li img {
  width: 10%;
  height: 4s%;
  padding-bottom: 3px;
}
