* {
  transition: all .2s;
}

.no-margin{
  margin: 0;
}

.btn{
  background-color: #0397ff;
  font-size: 12pt;
  font-weight: 600;
  color: #fff;
  padding: 13px 45px;
  border-radius: 5px;
  display: inline-block;
  &:hover{
    background: #0089e9;
    color: white;
  }
}
header {
  background: url("../img/background-header.jpg");
  div{
    &#topo{
      padding-top: 250px;
      overflow:  hidden;
      text-align: center;
       color: #ffffff;
      p{
        font-size: 14pt;
        font-weight: 500;
        margin: 0 0 0.3em;
      }
      h2{
        font-size: 2.8rem;
        margin: 0 0 0.76em;
      }
    }
    &#background-orbit{
      margin-top: 60px;
      padding: 250px 0;
      background: url("../img/orbit.png") top;
    }
  }
}
img{
  &#logo{
    margin-top: 16px;
    margin-bottom: 20px;
  }
}
#top-bar{
  width: 100%;
  padding: 20px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  #menu{
    margin-top: 8px;
    width: 100%;
    a{
      float: right;
    }
    ul{
      float: right;
      margin-right: 20px;
      display: inline;
      height: 5%;
      margin-top: 12px;
      li{
        display: inline-block;
        a{
          font-weight: 500;
          padding: 5px;
          color: #7f97ad;
          &:hover{
            color: #0397ff;
            text-decoration: none;
          }
        }
      }
    }
  }
}
section {
  padding: 100px 0;
  h2{
    color: #1e3953;
  }
  &#services {
    text-align: center;
    h2 {
      font-weight: normal;
      margin: 0 0 0.93em;
      padding-bottom: 0.67em;
      display: inline-block;
      position: relative;
      border-bottom: 1px solid #d6dfe8;
    }
    p {
      color: #7f97ad;
      line-height: 1.8em;
      font-size: 12pt;
      margin-bottom: 60px;
    }
    div {
      &.grid {
        text-align: center;
        padding: 40px 45px;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
        &:hover {
          background-color: #09f;;
          color: white;
          .btn {
            background: #fff;
            color: #7f99ae;
          }
          .detalhes {
            p {
              color: #ffffff;
            }
          }
        }
        img {
          width: 24%;
        }
        .detalhes {
          width: 100%;
          h3 {
            font-weight: 600;
            font-size: 18pt;
          }
          p {
            color: #7f97ad;
            line-height: 1.8em;
            margin-bottom: 2em;
          }
        }
      }
    }
  }
  &#dominios {
    background: #f1f1f1;
    div {
      text-align: center;
      &#titulo {
        margin-bottom: 35px;

        h2 {
          span {
            font-weight: bold;
          }
        }
        p {
          font-size: 12pt;
          color: #7f97ad;
          line-height: 1.8em;
        }
      }
      &#pesquisa{
        form{
          background: #0397ff;
          width: 65%;
          margin: 0 auto 20px;
          border-radius: 40px;
          padding: 10px;
          input {
            padding: 12px;
            &[type="text"] {
              font-size: 12pt;
              color: white;
              width: 70%;
              border: none;
              background: none;
              margin-left: 20px;
            }
            &[type="submit"]{
              font-size: 11pt;
              font-weight: 600;
              color: #7f97ad;
              text-align: center;
              text-transform: uppercase;
              width: 25%;
              background: #fff;
              border: none;
              border-radius: 40px;
            }
          }
        }
      }
      &#precos{
        div{
          display: inline-block;
          margin-left: 30px;
          &:first-child{
            margin-left: 0;
          }
          p{
            margin: 5px 0 0;
            color: #7f97ad;
            line-height: 1.8em;
          }
        }
      }
    }
  }
  &#planos{
    background: #f7f8fa;
    text-align: center;
    h2 {
      font-weight: normal;
      margin: 0 0 0.93em;
      padding-bottom: 0.67em;
      display: inline-block;
      position: relative;
      border-bottom: 1px solid #d6dfe8;
      span{
        font-weight: bold;
      }
    }
    div{
      &#tablist{
        background-color: #fff;
        display: inline-block;
        text-align: center;
        margin: 0 auto 45px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 10px 20px 5px;
        ul{
          margin: 0;
          li{
            display: inline-block;
            a{
              display: block;
              color: #0397ff;
              padding: 10px 10px;
              overflow: hidden;
              border-radius: 5px;
              font-size: 13pt;
              font-weight: 500;
              &:hover{
                color: white;
                background: #0397ff;
                text-decoration: none;
              }
              &.active{
                color: white;
                background: #0397ff;
                text-decoration: none;
              }
            }
          }
        }
      }
      &.plano{
        .grid{
          background-color: #fff;
          padding: 45px 40px;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
          position: relative;
          span{
            font-size: 12pt;
            font-weight: 500;
            color: #1e3953;
            text-transform: uppercase;
          }
          div {
            width: 40%;
            margin: 20px auto 30px;
            .circulo {
              background: #0397ff;
              width: 100%;
              height: 12%;
              border-radius: 50%;
              color: white;
              p {
                &.valor {
                  font-size: 20pt;
                  font-weight: bold;
                  padding-top: 27px;
                  line-height: 1.2em;
                }
              }
            }
          }
          ul{
            width: 100%;
            padding-bottom: 10px;
            li{
              display: block;
              color: #7f97ad;
              border-bottom: 1px solid #dbe4ea;
              padding: 10px 0;
              font-size: 12pt;
              &:last-child{
                border-bottom: none;
              }
            }
          }
          &:after{
            content: "";
            background-color: #0397ff;
            width: 100%;
            height: 15px;
            border-radius: 0 0 5px 5px;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
  }
  &#features{
    //.row{
    //  :after{
    //    content: "";
    //    background-color: #dae4eb;
    //    width: 97%;
    //    height: 1px;
    //    position: absolute;
    //    left: 50%;
    //    bottom: 0;
    //  }
    //}
    div{
      &.bloco-features{
        padding-top: 40px;
        border-bottom: 1px solid #dae4eb;
        &:last-child{
          border-bottom: none;
        }
        img{
          border-radius: 10px;
          max-width: 100%;
        }
        h2{
          padding-top: 40px;
          font-weight: 600;
        }
        p{
          color: #7f97ad;
          line-height: 1.8em;
          font-size: 12pt;
        }
      }
    }
  }
  &#clientes{
    background: url("../img/testimonials-bg.jpg");
    text-align: center;
    h2{
      font-weight: normal;
      margin: 0 0 0.93em;
      padding-bottom: 0.67em;
      display: inline-block;
      position: relative;
      border-bottom: 1px solid #d6dfe8;
      span{
        font-weight: bold;

      }
    }
    div{
      &.grid{
        background-color: white;
        .client-quote{
          padding: 30px;
          border-bottom: 1px solid #dae2e8;
          text-align: left;
          h3{
            font-size: 18pt;
            font-weight: 600;
            color: #0397ff;
            margin: 0 0 0.7em
          }
          p{
            color: #7f97ad;
            line-height: 1.8em;
            font-size: 12pt;
          }
        }
        .info-client{
          text-align: left;
          padding: 10px 30px 10px 30px;
          margin-bottom: 10px;
          img{
            border-radius: 50px;
            display: inline-block;
            float: left;
            overflow: hidden;
          }
          .nome {
            display: inline-block;
            padding-top: 5px;
            margin-left: 20px;
            h4 {
              font-size: 14pt;
              color: #4c5e6f;
              font-weight: 600;
              margin: 0;
            }
            span {
              font-size: 0.8rem;
              color: #7f97ad;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .btn{
      margin-top: 42px;;
    }
  }
  &#postagens{
    text-align: center;
    div{
      &.img-postagem{
        width: 40%;
        /*float: left;*/
        display: inline-block;
        padding-bottom: 50px;
        img{
          max-width: 100%;
        }
      }
      &.grid {
        text-align: left;
        display: inline-block;
        float: right;
        width: 50%;
        padding: 10px 15px;
        .postagem-header {
          h3 {
            margin: 0;
            font-size: 14pt;
            font-weight: 600;
            line-height: 1.3em;
            a{
              color: #1e3953;
              &:hover{
                color: #0397ff;
                text-decoration: none;
              }
            }
          }
        }
        .postagem-info{
          ul{
            width: 100%;
            padding-top: 5px;
            li{
              display: inline;
              img.icone{
                width:  7%;
                height: 2%;
                margin-right: 5px;
              }
            }
          }
        }
        p{
          padding-top: 5px;
          color: #7f97ad;
          line-height: 1.8em;
          font-size: 11pt;
        }
      }
    }
  }
  &#footer-contato{
    background: url("../img/cta-bg.jpg");
    h2{
      font-size: 20pt;
      font-weight: 600;
      margin: 0 0 0.55em;
      letter-spacing: -2px;
    }
    h3{
      color: #0397ff;
      margin: 0;
      font-weight: bold;
      font-size: 18pt;
    }
    form{
      background: #0397ff;
      width: 100%;
      border-radius: 40px;
      padding: 10px;
      input {
        padding: 5px;
        &[type="text"] {
          font-size: 12pt;
          color: white;
          width: 70%;
          border: none;
          background: none;
          margin-left: 20px;
        }
        &[type="submit"]{
          font-size: 11pt;
          font-weight: 600;
          color: #7f97ad;
          text-align: center;
          text-transform: uppercase;
          width: 25%;
          background: #fff;
          border: none;
          border-radius: 40px;
        }
      }
    }
  }
}
footer{
  background: #eff7ff;
  padding: 100px 0;
  div{
    h3{
      margin: 0;
      font-size: 20pt;
      color: #0397ff;
      text-transform: uppercase;
      padding-bottom: 0.5em;
      padding-top: 3px;
      position: relative;
      font-weight: bold;
      line-height: 1.1;
    }
    &.grid {
      padding-right: 25px;
      img{
        margin-bottom: 10px;
      }
      p{
        color: #7f97ad;
        line-height: 1.8em;;
        margin: 0 0 10px;
        font-size: 12pt;
      }
      ul{
        li{
          margin-top: 5px;
          color: #7f97ad;
          font-size: 12pt;
          line-height: 1.78em;;
          .icone{
            width: 5%;
            height: 2%;
            margin-top: 10px;
            margin-right: 10px;
          }
        }
      }
    }
    &#links{
      width: 98%;
      margin: 0 auto;
      ul{
        li {
          list-style-image: url("../img/icone-marcador.png");
          margin-top: 18px;
          padding-bottom: 5px;
          margin-left: 24px;
          a {
            color: #7f97ad;
            font-size: 12pt;
            &:hover{
              text-decoration: none;
              color: #0397ff;
            }
          }
        }
      }
    }
    &#suport{
      width: 98%;
      margin: 0 auto;
      ul{
        li {
          margin-top: 18px;
          padding-bottom: 5px;
          a {
            color: #7f97ad;
            font-size: 12pt;
            &:hover{
              text-decoration: none;
              color: #0397ff;
            }
          }
        }
      }
    }
    &#twitter{
      p{
        color: #7f97ad;
        line-height: 1.8em;
        margin: 0 0 10px;
        font-size: 12pt;
      }
      .profile{
        padding-bottom: 14px;
        margin-bottom: 14px;
        border-bottom: 1px solid #dbe8f6;
        //&:last-child{
        //  padding-bottom: 0;
        //  margin-bottom: 0;
        //  border-bottom: none;
        //}
        .icone{
          width: 7%;
          height: 2%;
          padding-bottom: 3px;
        }
        a{
          color: #0397ff;
          line-height: 1.8em;
          font-weight: bold;
          font-size: 12pt;
          font-style: italic;
        }
      }
    }

  }
}
div#copyright{
  background-color: #eff7ff;
  padding: 15px 0;
  border-top: 1px solid #dbe8f6;
  p{
    color: #7f97ad;
    line-height: 1.8em;
    display: inline;
    font-size: 12pt;
  }
  ul{
    width: 50%;
    float: right;
    li{
      font-size: 12pt;
      color: #7f97ad;
      line-height: 1.8em;
      display: inline;
      margin-right: 5px;
      img{
        width: 10%;
        height: 4s%;
        padding-bottom: 3px;
      }
    }
  }
}