* {
  transition: all .2s;
}
body {
  background: #0b1423;
}
.topo {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}
.topo .logo {
  float: left;
}
.topo .contatos {
  float: left;
  margin-top: 5px;
  margin-left: 20px;
}
.topo .contatos li {
  display: inline-block;
  background-color: #121b29;
  border: 2px solid #253145;
  padding: 10px 30px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
}
.topo .contatos li a {
  color: #ff8155;
}
.topo .content-menu {
  float: right;
  margin-top: 5px;
}
.topo .content-menu .menu li {
  display: inline-block;
  margin-left: 40px;
  font-size: 16px;
}
.topo .content-menu .menu li:first-child {
  margin: 0;
}
.topo .content-menu .menu li a {
  padding: 20px 0;
  color: white;
}
.banner {
  height: 100vh;
  padding-top: 200px;
  padding-bottom: 0;
  background-attachment: fixed;
  background-size: cover;
}
.banner .text-banner h1 {
  font-size: 125px;
  color: white;
  font-weight: bold;
}
.banner .text-banner h2 {
  font-size: 18px;
  font-weight: 500;
  color: #ff8155;
  display: block;
  margin-bottom: 30px;
}
.banner .image-banner img {
  max-width: 100%;
}
section {
  padding: 50px;
}
