body{
    background: #ddd;
}
.container{
    width: 500px;
    background: white;
    border: 1px solid #ccc;
    padding: 30px;
    margin: 0 auto;
}

.container form{
    margin-bottom: 30px;
}

.container form::after{
    content: ' ';
    display: block;
    clear: both;
}

.container form label{
    display: block;
    text-align: center;
    color: white;
    padding: 10px 0;
    border-radius: 3px;
    background: #09f;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
    border-bottom: 3px solid #0084ea;
}
.container form input[type="file"]{
    display: none;
}

.container form button{
    float: right;
}

.progressBar{

    background: rgba(0, 153, 255, 0.5);
}

.bar-loading{
    padding: 10px;
    color: white;
    background: #09f;
    overflow: hidden;
    width: 0%;
}